*{
    margin: 0;
    padding: 0;
}

body{
    background-color: #d7d6d6;
}

header{
    background-color: #333;
    color: #fff;
    padding: 10px 0;
    text-align: center;
}

.searchbar{
    margin-top: 20px;
    text-align: center;
}

.agent_suggestion{
    position: absolute;
    width: 100%;
    height: max-content;
    max-height: 210px;
    overflow-y: scroll;
    background-color: #fff;
    visibility: hidden;
}

.suggestion_button{
    display: flex;
    align-items: center;
}

.agent_icon{
    width: 50px;
    height: 50px;
    padding: 10px;
}

.searchbar_input:focus ~ .agent_suggestion{
    visibility: visible;
}

.image_store{
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-top: 20px;
}

.agent_store_icon{
    width: 70px;
    height: 70px;
    padding: 10px;
}

.image_store h1{
    text-align: center;
    margin-top: 20px;
}

.image_store_figure{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}
